textarea {
    min-height: 400px;
}

._read {
    background-color: #ececec;
    border: 3px solid #cdcdcd;
}

._unread {
    background-color: white;
    border: 3px solid #cdcdcd;
}

._div {
    height: 8vh;
    color: #6a6a6a;
    font-family: Arial;
    background-color: #ececec;
    border: 3px solid #cdcdcd;

    /* Vertically and horizontally centered */
    display: flex;
    justify-content: center;
    align-items: center;

}

p {
    white-space: pre-line;
}