{% extends "mail/layout.html" %}
{% load static %}

{% block body %}

<div id="inbox_body">

    <div class="sidebar white">
        <p id="top_heading">Mail System</p>
        <hr> 
        <button class="nav-item white" id="inbox">Inbox</button>
        <button class="nav-item white" id="compose">Compose</button>
        <button class="nav-item white" id="sent">Sent</button>
        <button class="nav-item white" id="archived">Archived</button>
        <a class="nav-item white" href="{% url 'logout' %}">Log Out</a>
        <a href="https://github.com/tccttc">
            <img id="github" src="{% static 'mail/imgs/Github_logo_inverted.png' %}">
        </a>
    </br>
        <p id="user_email">{{ request.user.email }}</p>
    </div>


    <!-- <hr> -->

    <div class="content">

        <div id="emails-view">
        </div>

        <div id="emails-detail">
        </div>

        <!-- The content shown in the compose-view -->
        <div id="compose-view">
            <h3>New Email</h3>
            <form id="compose-form">
                <div class="form-group">
                    From: <input disabled class="form-control" value="{{ request.user.email }}">
                </div>
                <div class="form-group">
                    To: <input id="compose-recipients" class="form-control">
                </div>
                <div class="form-group">
                    <input class="form-control" id="compose-subject" placeholder="Subject">
                </div>
                <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
                <input type="submit" class="btn btn-primary" />
            </form>
        </div>

    </div>

</div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}